apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: nldoc
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  project: nldoc
  sources:
    - repoURL: https://gitlab.com/logius/nldoc/getting-started.git
      targetRevision: main
      path: kubernetes/helm
      directory:
        recurse: true
    - repoURL: git@github.com:ConductionNL/gitops-postgres.git
      targetRevision: main
      path: nldoc-postgres
  destination:
    server: https://kubernetes.default.svc
    namespace: nldoc
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
